.titulocategorias__grid {
    grid-area: titulocategorias__grid;
}
.titulocategorias__grid img {
    width: 35px;
}
.titulocategorias__grid h2 {
    text-align: center;
    margin: 2px;
}

.catego__grid__grid img {
    width: 100%;
    height: 100%;
}

.catego__grid {
    display: grid;
    padding: 15px;
}

.catego__grid__grid {
    display: grid;
    padding: 4px;
}
