.content__grid__categorias {
    display: grid;
    grid-template-areas:
        "header__grid header__grid"
        "menu__grid menu__grid"
        "propaganda__grid__categorias propaganda__grid__categorias"
        "article__grid__categorias aside__grid__categorias"
        "footer__grid footer__grid";
    grid-template-rows: 45px 70px auto auto auto;
    background: white;
    grid-template-columns: 25% 75%;
    grid-column-gap: 20px;
}

.propaganda__grid__categorias {
    grid-area: propaganda__grid__categorias;

    background-color: aqua;
}

.article__grid__categorias {
    grid-area: article__grid__categorias;
    margin: 30px;
    margin-top: 30px;

}

.aside__grid__categorias {
    grid-area: aside__grid__categorias;
    margin-top: 30px;
    
}
.propaganda__grid__categorias img {
    width: 100%;
    height: 90%;
}
.filtro__flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
}

.aside__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.form-check{
    margin-top: 10px!important;
    margin: 10px;
}
$component-active-color:pink;
$form-check-input-checked-color:$component-active-color;
