/*animaciones*/
.animacion {
    /*color:blueviolet;*/
    /* font-size:  100px;*/
    /*NOMBRE*/
    animation-name: efecto;
    /* VECES QUE SE EJECUTA */
    animation-iteration-count: infinite;
    /* DURACION*/
    animation-duration: 4s;
    /* TIEMPO QUE TARDA HASTA QUE CARGA */
    animation-delay: 1s;
}

@keyframes efecto {
}


.header__barradelivery h2:hover{
    display: inline-block;
    animation: heartBeat;
    animation-duration: 3s; 
}
.textodelivery-1:hover{
    color:white
}
.textodelivery-2:hover{
    color:white
}
.footer__grid a:hover{
    color:hotpink!important;
}
.nav-item:hover {
    font-weight: bold;
}
.texto__logomoda:hover{
    display: inline-block;
    animation: swing;
    animation-duration: 1s; 
}
.carrusel__grid__tarjetas img:hover{
    animation: bounce;
    animation-duration: 1s; 
}
.catego__grid__grid img:hover{
    display: inline-block;
    animation: pulse;
    animation-duration: 1s; 
}

.galeria__promociones__scroll img:hover{
    animation: pulse;
    animation-duration: 1s;
    
}
.dscto__promociones img:hover{
    animation: pulse;
    animation-duration: 1s; 

}
.card:hover{
    animation: pulse;
    animation-duration: 1s; 

    
}
.card-covid img:hover{
    animation: pulse;
    animation-duration: 1s; 

    
}