@charset "UTF-8";
/*MIXIN FORMATO TEXTO DEL DELIVERY*/
/*USO MIXIN FORMATO TEXTO DEL DELIVERY*/
.textodelivery-1 {
  font-size: 26px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/*USO MIXIN FORMATO TEXTO DEL DELIVERY*/
.textodelivery-2 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/*GRID DE AREAS DEL INDEX*/
.content__grid {
  display: grid;
  grid-template-areas: "carrusel__grid" "envio__grid" "titulocategorias__grid" "catego__grid" "propaganda__grid" "titulomarcas__grid" "marcas__grid";
  grid-template-rows: repeat(8, auto);
  grid-template-columns: 100%;
  background: white;
}

/*BLOQUE DE NAV SE MUESTRE ENCIMA DEL CONTENIDO EN INDEX*/
.navbar {
  z-index: 1000;
}

/*FLEX FORMATO EN EL TEXTO DE BUSQUEDA*/
.d-flex__textobusqueda {
  width: auto;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

/*POSICION DEL TEXTO DE BUSQUEDA*/
.d-flex__textobusqueda input#search {
  width: 250px;
  height: 40px;
  float: left;
  padding-left: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*POSICION DEL ICON DE BUSQUEDA DE BUSQUEDA*/
.d-flex__textobusqueda .icon {
  position: relative;
  top: 10%;
  margin-left: 17px;
  margin-top: 7px;
  z-index: 1;
}

/*DIMENSIÓN DEL ICON DE BUSQUEDA DEL NAV*/
.iconbusqueda {
  width: 25px;
}

/*DIMENSIÓN DEL LOGO DE BUSQUEDA DEL NAV*/
.logomoda {
  width: 50px;
  margin: 10px;
}

/*AREA GRID DEL BARRA DE DELIVERY */
.header__grid {
  background: linear-gradient(to right, darkorchid, deeppink);
  height: 90%;
  grid-area: header__grid;
}

/*AREA GRID DEL NAV DE DELIVERY */
.menu__grid {
  grid-area: menu__grid;
}

/*FLEX DEL BARRA DE DELIVERY */
.barradelivery__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}

/*DIMENSIÓN DEL RELOJ DE LA BARRA DE DELIVERY */
.img__delivery {
  height: 30px;
}

/*MARGENES PARA TODO */
* {
  padding: 0;
  margin: 0;
}

.carrusel__grid__img {
  padding: 1px;
}

.carrusel__grid img {
  padding: 10px;
}

.envio__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2px;
}

.envio__flex img {
  width: 45px;
  align-items: center;
  padding: 4px;
}

.card {
  align-items: center;
}

.card-body {
  padding: 4px !important;
  text-align: center;
}

.card {
  margin: 8px !important;
}

.card-img-top {
  width: 50px;
}

.titulocategorias__grid {
  grid-area: titulocategorias__grid;
}

.titulocategorias__grid img {
  width: 35px;
}

.titulocategorias__grid h2 {
  text-align: center;
  margin: 2px;
}

.catego__grid__grid img {
  width: 100%;
  height: 100%;
}

.catego__grid {
  display: grid;
  padding: 15px;
}

.catego__grid__grid {
  display: grid;
  padding: 4px;
}

.titulomarcas__grid {
  grid-area: titulomarcas__grid;
}

.titulomarcas__grid img {
  width: 35px;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}

.slider .slidem {
  height: 100px;
  width: 250px;
}

.slidem img {
  width: 100px;
  padding: 5px;
}

.slide-track {
  padding: 20px;
}

/*propaganda principal*/
.propaganda__grid img {
  width: 100%;
  height: 90%;
}

.propaganda {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto__propaganda-2 {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 45%;
  padding: 15px;
  font-size: 30px;
}

.texto__propaganda-1 {
  position: absolute;
  top: 50%;
  left: 48%;
  padding: 15px;
  font-size: 15px;
}

.texto__propaganda-0 {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 45%;
  padding: 15px;
  font-size: 20px;
}

/*FOOTER*/
.footer__grid {
  grid-area: footer__grid;
  background-color: rgba(32, 32, 32, 0.849);
  color: white;
  padding: 2rem;
}

.footer__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}

.footer__menu {
  list-style: none;
  padding: 1rem;
}

.footer__flex h4 {
  justify-content: space-around;
}

.footer__menu a {
  color: white;
  text-decoration: none;
  padding: 0.5;
}

.footer__creditos {
  font-size: 0.8rem;
  text-align: center;
  color: chartreuse;
}

.titulocategorias__grid {
  grid-area: titulocategorias__grid;
  background: black;
  color: white;
}

.titulomarcas__grid {
  grid-area: titulomarcas__grid;
  background: rebeccapurple;
  color: white;
}

.titulomarcas__grid, .titulocategorias__grid h1 {
  text-align: center;
  margin: 2px;
}

/*GRID DE CATEGORIAS EN CATEGORIAS*/
.content__grid__categorias {
  display: grid;
  grid-template-areas: "propaganda__grid__categorias" "galeria__grid";
  grid-template-rows: auto auto;
  background: white;
  grid-template-columns: 100%;
  grid-column-gap: 15px;
}

/*GRID DE FILTRO Y GALERIA EN CATEGORIAS*/
.galeria__grid {
  display: grid;
  grid-template-areas: "aside__filtro__grid article__galeria__grid";
  grid-template-rows: auto;
  background: white;
  grid-template-columns: 20% 75%;
  grid-column-gap: 15px;
  margin-top: 30px;
  margin: 20px;
}

/*AREA DE PROPAGANDA EN CATEGORIAS*/
.propaganda__grid__categorias {
  grid-area: propaganda__grid__categorias;
}

.galeria__marca img {
  width: 50%;
}

.galeria__marca .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

.galeria__marca img:hover {
  border: 5px solid #f7f7f7;
}

/*SEPARACION DEL BOTON BUSCAR Y EL FILTRO EN CATEGORIAS*/
.d-grid {
  padding: 10px;
}

/*AREA DE GALERIA EN EN CATEGORIAS*/
.galeria__grid {
  display: grid;
  grid-area: galeria__grid;
}

/*DIMENSIONES DE LA PROPAGANDA CATEGORIAS*/
.propaganda__grid__categorias img {
  width: 100%;
  height: 90%;
}

/*MARGEN DE IMAGENES DE LA GALERIA EN CATEGORIAS*/
.galeria__categoria img {
  width: 100%;
  margin: 10px;
}

/*ANIMACIÓN DE LA IMAGEN DE GALERIA EN CATEGORIAS*/
.galeria__categoria img:hover {
  border: 5px solid #f7f7f7;
}

/*TIPO DE LETRA DE TECTO RESULTADOS EN CATEGORIAS*/
#lbl__resultadoproductos {
  font-style: italic;
  text-align: right;
}

/*FLEX ENTRE TEXTO RESULTADO Y CBO ORDENAR EN CATEGORIAS*/
.orderby__flex {
  display: flex;
  justify-content: space-between;
}

/*TEXTO ENCIMA DE LA IMAGEN DE GALERIA EN CATEGORIAS*/
.texto-encima {
  position: absolute;
  right: 1px;
  background-color: rgba(231, 56, 56, 0.911);
  color: white;
  font-weight: bold;
  top: 2px;
  margin: 5px;
  font-size: 12px;
}

/*GALERIA EN COLUMNAS EN CATEGORIAS*/
.galeria__categoria .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
}

/*TEXTO CENTRADO ENCIMA DE LA IMAGEN EN CATEGORIAS*/
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*TEXTO PRODUCTO DE LA IMAGEN EN CATEGORIAS*/
.titulo_producto {
  font-size: 16px;
}

/*TEXTO PRECIO DE LA IMAGEN EN CATEGORIAS*/
.titulo_precio {
  font-size: 20px;
  word-spacing: 52pt;
}

/*TEXTO PRECIO ONLINE DE LA IMAGEN EN CATEGORIAS*/
.titulo_online {
  font-size: 20px;
  color: red;
  word-spacing: 50pt;
}

/*FORMATO DE TEXTO DE IMAGENES EN CATEGORIAS*/
.texto {
  position: relative;
}

/*FORMATO DE TEXTO DE IMAGENES EN CATEGORIAS*/
.texto .titulo_marca {
  font-size: 100%;
  color: dimgray;
  margin: 10px;
  padding: 1px;
  text-align: left;
}

/*FORMATO DE TEXTO DE IMAGENES EN CATEGORIAS*/
.texto .titulo_producto, .titulo_producto, .titulo_precio {
  font-size: 100%;
  color: rgb(15, 15, 15);
  margin: 10px;
}

/*FORMATO DE TEXTO DE IMAGENES EN CATEGORIAS*/
.texto .titulo_online {
  font-size: 100%;
  color: red;
  margin: 10px;
}

/*GRID DE MARCAS EN MARCAS*/
.content__grid__marcas {
  display: grid;
  grid-template-areas: "propaganda__grid__marcas" "logos__grid__marcas";
  grid-template-rows: auto auto;
  background: white;
  grid-template-columns: 100%;
}

/*AREA GRID DE PROPAGANDA*/
.propaganda__grid__marcas {
  grid-area: propaganda__grid__marcas;
}

/*AREA GRID DE LOGOS*/
.logos__grid__marcas {
  grid-area: logos__grid__marcas;
}

/*DIMENSIONES DE LA PROPAGANDA CATEGORIAS*/
.propaganda__grid__marcas img {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

.promociones__grid img {
  width: 100%;
  height: 90%;
  margin: 1px;
}

/*FILTRO DE DSCTO EN FILA PROMOCIONES*/
.dscto__promociones .row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 1%;
}

.dscto__promociones img {
  width: 100%;
  height: 95%;
}

.promociones__grid h1 {
  text-align: center;
  padding: 15px;
}

/*GALERIA EN COLUMNAS EN PROMOCIONES*/
.galeria__promociones__scroll .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1%;
}

.galeria__promociones__scroll .texto {
  padding: 10px 5px 35px 5px;
}

/*GALERIA EN FILAS EN PROMOCIONES*/
.rounded-3 {
  width: 100% !important;
  height: 75% !important;
}

/*FUNCION PARA SUBIR AL TIPO DE DSCTO*/
.ir-arriba {
  display: inline-block;
  background-repeat: no-repeat;
  color: black;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 2;
  width: 5%;
}

/*GRID DE CONTACTO EN GRID*/
.content__grid__contacto {
  display: grid;
  grid-template-areas: "propaganda__grid__contacto" "grid__contacto" "titulomarcas__grid";
  grid-template-rows: auto auto;
  background: white;
  grid-row-gap: 15px;
}

.propaganda__grid__contacto {
  grid-area: propaganda__grid__contacto;
}

.propaganda__grid__contacto img {
  width: 100%;
  height: 380px;
}

.body {
  font-family: "Raleway", sans-serif;
}

.texto_centrado-1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 150%;
  font-weight: 400;
}

.texto_centrado-2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Signika Negative", sans-serif;
  color: white;
  font-size: 250%;
  font-weight: 700;
}

.texto_centrado-3 {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 40% !important;
}

.texto-titulo {
  text-align: center;
  color: rgb(76, 15, 133);
  font-size: 28px;
  font-weight: 500;
}

.texto-titulo-card {
  text-align: left;
  font-family: "Signika Negative", sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.texto-titulo-card-2 {
  text-align: left;
  font-family: "Signika Negative", sans-serif;
  color: rgb(74, 33, 121);
  font-size: 20px;
  font-weight: 400;
}

.texto-card {
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight: 350;
}

.texto-card-2 {
  text-align: left;
  color: rgb(74, 33, 121);
  font-size: 18px;
  font-weight: 400;
}

.size-img {
  width: 50%;
  height: 50%;
}

.col-md-4 {
  text-align: center !important;
  padding: 60px;
}

.grid__contacto {
  grid-area: grid__contacto;
}

/*MAPA GOOGLE*/
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
