<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Lo último en tendencias de vestimenta de Moda.">
  <meta name="country" content="PER">
  <meta name="currency" content="S/.">
  <meta name="language" content="es-PE">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/query.css">
  <link rel="stylesheet" href="../css/animaciones.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Signika+Negative:wght@600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- bootstrap CSS only -->
  <link rel="stylesheet" href="../scss/custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <meta name="author" content="R-Moda">
  <title>R-Moda.pe ¡Las mejores ofertas en miles de productos de Moda!</title>
</head>

<body>
  <!--CABECERA-->
  <header class="header__grid">

    <!-- MENU LOGO/NAV/TEXTO-->
    <section class="menu__grid">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <h1 class="texto__logomoda"><img src="../Assets/Img/logomoda.png" alt="Moda" class="logomoda" /></h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"> <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item"> <a class="nav-link active" aria-current="page" href="./marca.html">Marcas</a>
              </li>
              <li class="nav-item"> <a class="nav-link active" aria-current="page"
                  href="./promociones.html">Promociones</a>
              </li>
              <li class="nav-item"> <a class="nav-link active" aria-current="page" href="./categoria.html">Categoria</a>
              </li>
           
              <li class="nav-item"> <a class="nav-link active" aria-current="page"
                  href="./contacto.html">Contáctanos</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <div class="d-flex__textobusqueda">
                <img src="https://img.icons8.com/small/16/000000/search--v1.png" class="iconbusqueda icon" />
                <input type="search" class="form-control" list="datalistOptions" id="search"
                  placeholder="Búsqueda..." />
              </div>
            </form>
          </div>
        </div>
      </nav>
    </section>
  </header>

  <!-- MAIN -->
  <main class="content__grid__contacto">
    <!-- PROPAGANDA PRINCIPAL -->
    <section class="propaganda__grid__contacto">
      <div class="propaganda">
        <img src="../Assets/Img/contacto/propaganda-1000px.png" class="propaganda-1000px img-fluid" alt="moda" />
        <img src="../Assets/Img/contacto/propaganda-600px.png" class="propaganda-600px img-fluid" alt="moda" />
        <p class="texto_centrado-1">Centro de Contacto al Cliente</p>
        <p class="texto_centrado-2">¿En qué podemos ayudarte?</p>
        <input class="form-control form-control-lg texto_centrado-3 rounded-5 " type="text" placeholder="Buscar"
          aria-label="default input example">

      </div>
    </section>

    <!-- CANALES DE ATENCIÓN-->
    <section class="contacto__grid container">
      <p class="texto-titulo">Elige la categoria disponible para la pregunta que tengas</p>
   
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card text-bg-danger mb-3 card-covid" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../Assets/Img/contacto/virus.png" class="img-fluid rounded-start size-img"
                  alt="protocolos covid-19">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-title texto-titulo-card">Información sobre el COVID-19</p>
                  <p class="card-text texto-card">Queremos informar a nuestros clientes, sobre las medidas que se está
                    tomando para asegurar la entrega de sus compras.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
        <div class="card text-bg-success mb-3 card-covid">
        <div class=" row g-0">
            <div class="col-md-4">
              <img src="../Assets/Img/contacto/email.png" class="img-fluid rounded-start size-img"
                alt="protocolos covid-19">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title texto-titulo-card">Conoce nuestros canales de atención</p>
                <p class="card-text texto-card">Estamos para atender todas tus inquietudes y dudas, tenemos un mienbro de nuestro equipo
                  que te apayará en cualquier solicitud.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card shadow border-primary mb-3">
          <div class=" row g-0">
              <div class="col-md-4">
                <img src="../Assets/Img/contacto/comentario.png" class="img-fluid rounded-start size-img"
                  alt="protocolos covid-19">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-title texto-titulo-card-2">Preguntas Frecuentes</p>
                  <p class="card-text texto-card-2">Busca las respuestas más oportundas con nuestros asesores.</p>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
        <div class="card shadow border-danger mb-3">
        <div class=" row g-0">
            <div class="col-md-4">
              <img src="../Assets/Img/contacto/pedido.png" class="img-fluid rounded-start size-img"
                alt="protocolos covid-19">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title texto-titulo-card-2">Cambios y Devoluciones</p>
                <p class="card-text texto-card-2">Solicita algún cambio o devolución de un producto.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-success mb-3">
        <div class=" row g-0">
            <div class="col-md-4">
              <img src="../Assets/Img/contacto/compras.png" class="img-fluid rounded-start size-img"
                alt="protocolos covid-19">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title texto-titulo-card-2">Compras Online</p>
                <p class="card-text texto-card-2">Infórmate sobre el proceso de compras en línea.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-warning mb-3">
        <div class=" row g-0">
            <div class="col-md-4">
              <img src="../Assets/Img/contacto/tarjetas.png" class="img-fluid rounded-start size-img"
                alt="protocolos covid-19">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title texto-titulo-card-2">Tarjetas GifCard</p>
                <p class="card-text texto-card-2">Solicita una de nuestras tarjetas GifCard y compra.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-secundary mb-3">
        <div class=" row g-0">
            <div class="col-md-4">
              <img src="../Assets/Img/contacto/mercado.png" class="img-fluid rounded-start size-img"
                alt="protocolos covid-19">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title texto-titulo-card-2">Nuestros Almacenes</p>
                <p class="card-text texto-card-2">Encuentra los almacenes más cercado a tu domicilio.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-primary mb-3">
        <div class=" row g-0">
            <div class="col-md-4">
              <img src="../Assets/Img/contacto/usuario2.png" class="img-fluid rounded-start size-img"
                alt="protocolos covid-19">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title texto-titulo-card-2">Mi Cuenta</p>
                <p class="card-text texto-card-2">Ingresa a nuestro portal.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

    </section>

    <!-- baner de maps-->
    <section class="titulomarcas__grid">
      <h1>Ubícanos</h1>
    </section>
<section>
  <div class="map-responsive">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.4437533989612!2d-76.9453835497234!3d-12.0817440457994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c71de6ce7161%3A0xf97cacf6f3970bcc!2sUniversidad%20Nacional%20Agraria%20La%20Molina!5e0!3m2!1ses-419!2spe!4v1661566160907!5m2!1ses-419!2spe" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</section>

  </main>

  <!-- FOOTER-->
  <footer class="footer__grid">
    <div class="footer__flex">
      <div>
        <h4>Nuestro sitio</h4>
        <ul class="footer__menu">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./marca.html">Marcas</a></li>
          <li><a href="./promociones.html">Promociones</a></li>
          <li><a href="./categoria.html">Categoria</a></li>
          <li><a href="./contacto.html">Moda</a></li>
        </ul>
      </div>
      <div>
        <h4>Sobre Moda</h4>
        <ul class="footer__menu">
          <li><a href="#">¿Cómo comprar en Moda.com?</a></li>
          <li><a href="#">Guía de Compra</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Cambios y Devoluciones</a></li>
          <li><a href="#">Base Legales</a></li>
          <li><a href="#">Seguridad y Privacidad</a></li>
          <li><a href="#">Seguimiento de Delivery</a></li>
          <li><a href="#">Politicas de Datos</a></li>
        </ul>
      </div>
      <div>
        <h4>Más de Moda</h4>
        <ul class="footer__menu">
          <li><a href="#">Tipos de Pago</a></li>
          <li><a href="#">¿Quienes Somos?</a></li>
          <li><a href="#">Nuestra Tiendas Virtual</a></li>
          <li><a href="#">Trabaja con Nosotros</a></li>
          <li><a href="#">comprobantes Electrónicos</a></li>
          <li><a href="#">Reporte de sostenibilidad</a></li>
          <li><a href="#">Libro de Reclamaciones</a></li>
          <li><a href="#">Reclamos</a></li>
        </ul>
      </div>
    </div>
    <p><a href="#arriba" class="enlace">Subir</a></p>
    <div class="footer__creditos">
      2022 &copy; Moda R, Elabroado por Luis Yataco - CoderHouse
    </div>

  </footer>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</body>

</html>