<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">

    <title>Promociones</title>
</head>

<body>
    <header class="header" id="arriba">
        <div class="header__texto">
            <form action="">
                <input type="text" name="txtBuscar" id="txtbuscar" placeholder="Buscar productos" size="40px">
                <img src="../Assets/Iconos/img/search.png" alt="" <img src="../Assets/Img/baner2.jpg" alt="iconbusqueda"
                    height="20px" width="20px">
            </form>
        </div>
        <nav class="header__navbar">
            <ul class="header__navbar--principal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/marcas.html">Marcas</a></li>
                <li><a href="../views/promociones.html">Promociones</a></li>
                <li><a href="../views/categoria.html">Categoria</a></li>
                <li><a href="../views/moda.html">Moda</a></li>
                <!-- <li><a href="/views/Contacto.html">Contacto</a></li> Lista con viñera-->
            </ul>
        </nav>
    </header>
    <div class="maps">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26248.64921311698!2d-77.05465407176699!3d-12.051429304870977!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8c80c682de3%3A0x17152161175cbcdd!2sPlaza%20San%20Mart%C3%ADn!5e0!3m2!1ses!2ses!4v1654831345391!5m2!1ses!2ses"
            width="1000" height="650" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <footer id="abajo" class="footer">
        <div class="footer__flex">
            <div>
                <h4>Nuestro sitio</h4>
                <ul class="footer__menu">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../views/marcas.html">Marcas</a></li>
                    <li><a href="../views/promociones.html">Promociones</a></li>
                    <li><a href="../views/categoria.html">Categoria</a></li>
                    <li><a href="../views/moda.html">Moda</a></li>
                </ul>
            </div>
            <div>
                <h4>Sobre Moda</h4>
                <ul class="footer__menu">
                    <li><a href="#">¿Cómo comprar en Moda.com?</a></li>
                    <li><a href="#">Guía de Compra</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Cambios y Devoluciones</a></li>
                    <li><a href="#">Base Legales</a></li>
                    <li><a href="#">Seguridad y Privacidad</a></li>
                    <li><a href="#">Seguimiento de Delivery</a></li>
                    <li><a href="#">Politicas de Datos</a></li>
                </ul>
            </div>
            <div>
                <h4>Más de Moda</h4>
                <ul class="footer__menu">
                    <li><a href="#">Tipos de Pago</a></li>
                    <li><a href="#">¿Quienes Somos?</a></li>
                    <li><a href="#">Nuestra Tiendas Virtual</a></li>
                    <li><a href="#">Trabaja con Nosotros</a></li>
                    <li><a href="#">comprobantes Electrónicos</a></li>
                    <li><a href="#">Reporte de sostenibilidad</a></li>
                    <li><a href="#">Libro de Reclamaciones</a></li>
                    <li><a href="#">Reclamos</a></li>
                </ul>
            </div>
        </div>
        <p><a href="#arriba" class="enlace">Subir</a></p>
        <div class="footer__creditos">
            2022 &copy; Moda R, Elabroado por Luis Yataco - CoderHouse
        </div>

    </footer>
</body>
</html>